1.

In [1]:
import sqlite3

conn = sqlite3.connect("test.db")   # tạo & kết nối CSDL
cur = conn.cursor()

cur.execute("SELECT sqlite_version();")
version = cur.fetchone()

print("SQLite version:", version[0])

conn.close()

SQLite version: 3.45.3

2.

In [2]:
import sqlite3

conn = sqlite3.connect(":memory:")
print("Kết nối CSDL trong bộ nhớ thành công")

conn.close()

Kết nối CSDL trong bộ nhớ thành công

3.

In [3]:
import sqlite3

conn = sqlite3.connect("school.db")
cur = conn.cursor()

cur.execute("""
CREATE TABLE IF NOT EXISTS student (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
""")

conn.commit()
conn.close()

4.

In [4]:
import sqlite3

conn = sqlite3.connect("school.db")
cur = conn.cursor()

cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()

print("Các bảng trong CSDL:")
for t in tables:
    print(t[0])

conn.close()

Các bảng trong CSDL:
student
class

5.

In [5]:
import sqlite3

conn = sqlite3.connect("school.db")
cur = conn.cursor()

cur.execute("""
CREATE TABLE IF NOT EXISTS class (
    id INTEGER PRIMARY KEY,
    name TEXT
)
""")

cur.execute("INSERT INTO class (name) VALUES ('CNTT')")
cur.execute("INSERT INTO class (name) VALUES ('Kinh tế')")

conn.commit()

cur.execute("SELECT * FROM class")
rows = cur.fetchall()

for row in rows:
    print(row)

conn.close()

(2, 'Công nghệ thông tin')
(3, 'CNTT')
(4, 'Kinh tế')

6.

In [6]:
import sqlite3

conn = sqlite3.connect("school.db")
cur = conn.cursor()

cur.execute("SELECT COUNT(*) FROM class")
count = cur.fetchone()[0]

print("Số bản ghi:", count)

conn.close()

Số bản ghi: 3

7.

In [7]:
import sqlite3

conn = sqlite3.connect("school.db")
cur = conn.cursor()

cur.execute("UPDATE class SET name='Công nghệ thông tin'")
conn.commit()

conn.close()

8.

In [8]:
import sqlite3

conn = sqlite3.connect("school.db")
cur = conn.cursor()

cur.execute("DELETE FROM class WHERE id = 1")
conn.commit()

conn.close()

9.

In [9]:
import pandas as pd

df = pd.read_csv("region.csv")
print(df)

   REGION_ID              REGION_NAME
0           1                  Europe
1           2                Americas
2           3                    Asia
3           4  Middle East and Africa

10.

In [10]:
# Tạo CSDL & bảng product
import sqlite3

conn = sqlite3.connect("product.db")
cur = conn.cursor()

cur.execute("""
CREATE TABLE IF NOT EXISTS product (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    price REAL NOT NULL,
    amount INTEGER NOT NULL
)
""")

conn.commit()
conn.close()

In [11]:
# Thêm sản phẩm
def add_product(name, price, amount):
    conn = sqlite3.connect("product.db")
    cur = conn.cursor()
    cur.execute(
        "INSERT INTO product (name, price, amount) VALUES (?, ?, ?)",
        (name, price, amount)
    )
    conn.commit()
    conn.close()

add_product("Laptop", 1500, 10)

In [12]:
# Hiển thị danh sách sản phẩm
def show_products():
    conn = sqlite3.connect("product.db")
    cur = conn.cursor()
    cur.execute("SELECT * FROM product")
    for row in cur.fetchall():
        print(row)
    conn.close()

show_products()

(1, 'Laptop', 1500.0, 10)
(2, 'Laptop', 1500.0, 10)

In [13]:
# Tìm sản phẩm theo tên
def search_product(name):
    conn = sqlite3.connect("product.db")
    cur = conn.cursor()
    cur.execute("SELECT * FROM product WHERE name LIKE ?", ('%'+name+'%',))
    print(cur.fetchall())
    conn.close()

search_product("Lap")

[(1, 'Laptop', 1500.0, 10), (2, 'Laptop', 1500.0, 10)]

In [14]:
# Cập nhật giá & số lượng theo ID
def update_product(id, price, amount):
    conn = sqlite3.connect("product.db")
    cur = conn.cursor()
    cur.execute(
        "UPDATE product SET price=?, amount=? WHERE id=?",
        (price, amount, id)
    )
    conn.commit()
    conn.close()

In [15]:
# Xóa sản phẩm theo ID
def delete_product(id):
    conn = sqlite3.connect("product.db")
    cur = conn.cursor()
    cur.execute("DELETE FROM product WHERE id=?", (id,))
    conn.commit()
    conn.close()

11.

In [16]:
#Tạo CSDL & bảng PHONG
import sqlite3

conn = sqlite3.connect("ql_nhan_vien.db")
cur = conn.cursor()

cur.execute("""
CREATE TABLE IF NOT EXISTS PHONG (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL
)
""")

In [17]:
# Tạo bảng NHAN_VIEN (có khóa ngoại)
cur.execute("""
CREATE TABLE IF NOT EXISTS NHAN_VIEN (
    id INTEGER PRIMARY KEY,
    ho_ten TEXT NOT NULL,
    tuoi INTEGER NOT NULL,
    dia_chi TEXT NOT NULL,
    luong REAL NOT NULL,
    id_phong INTEGER,
    FOREIGN KEY (id_phong) REFERENCES PHONG(id)
)
""")

conn.commit()
conn.close()